@import "bulma";
@import "news";

.columns {
  height: 100%;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  overflow: hidden;
  .column.is-one-quarter.header {
    background: #f17b2d;
    max-width: 15rem;
  }
  .column.canvas-container{
    padding: 0;
    width: 100%;
    background: #f5f5f5;
    overflow-y: auto;
  }
  .menu {
    .dm-logo-holder {
      a {
        .logo {
          height: 15%;
        }
      }
    }
    .main-navigation {
      position: absolute;
      left: 0;
      bottom: 2rem;
      margin-left: 1rem;
      .menu-list {
        position: relative;
        padding: 1rem 2.7rem 2rem 1rem;
        li {
          a {
            color: #fff;
            text-decoration: none;
            font-family: 'Bebas Neue', cursive;
            font-size: 1.3rem;
            line-height: 1.3rem;
            padding: .3rem 0 .1rem;
            position: relative;
            display: table;
            height: 2.5rem;
            overflow: hidden;
            text-indent: .3rem;
            text-transform: uppercase;
          }
          a:hover {
            background-color: white;
            white-space: nowrap;
            color: #f17b2d;
            width: 8.5rem;
            height: 2.5rem;
          }
          a.no-hover:hover {
            background: transparent;
            color:white;
          }
        }
      }

      .social-icons {
        margin: 0;
        padding: 0 2rem 0 1rem;
        display: flex;
        width: 100%;
        li {
          display: inline;
          text-align: left;
          margin-left: 5px;
        }
        svg {
          height: 30px;
        }
      }
    }
  }
}


.share-buttons {
  li {
    a {
      svg {
        height: 3rem;
      }
    }
  }
}

.pagination {
  margin-top: 2rem;
  border-bottom: 0.2rem solid #f17b2d;
  border-top: 0.2rem solid #f17b2d;
  span {
    font-family: 'Bebas Neue', cursive;
    margin: 1rem;
    font-size: 1.5rem;
    a {
      color: black;
    }
  }
  .current {
    color: #f17b2d;
  }
}


@media (max-width: 1024px) {
  .column.is-one-quarter.header {
    display: none;
  }
  .columns {
    overflow-y: auto;
  }
  .canvas-container {
    height: 100vh;
  }
  .article-clearfix, .news-teaser-list {
    overflow: hidden;
  }
  .pagination {
    span {
      font-family: 'Bebas Neue', cursive;
      margin: 0.5rem;
      font-size: 1rem;
    }
  }
}


