.news-teasers {
  padding: 1rem !important;
  .page-header {
    padding: 5rem 5rem 5rem;
    h1 {
      font-size: 4.5rem;
      text-align: center;
      margin: 0 0 5rem;
      line-height: 1;
      font-family: 'Bebas Neue', cursive;
      margin: 0 0 2rem -10rem;
    }
    form {
      .news-search {
        position: relative;
        margin: 0 0 0 10rem;
        max-width: 40rem;
        input {
          border: 1px solid #fff;
          background: #fff;
          height: 3rem;
          margin-left: 2rem;
          line-height: 3rem;
          font-size: 1.6rem;
          vertical-align: bottom
        }
        input:focus{
          outline: 2px solid #f17b2d;
        }
        button {
          right: 0;
          top: 0;
          width: 3rem;
          background: #f17b2d;
          border: none;
          height: 3rem;
          padding: 1.5rem;
          cursor: pointer;
          transition: background .25s ease;
          svg {
            width: 32px;
            margin: -10px 0 0 -10px;
          }
        }
        button:focus{
          outline: 0 !important;
        }
      }
    }
  }
}

.teaser-item-list {
  transform: translateY(0);
  opacity: 1;
  animation: none;
  padding: 1rem;
  .card {
    padding: 1rem;
    height: 20rem;
    .card-header {
      box-shadow: none;
    }
  }
}

.card-header-title {
  font-size: 2.3rem;
  line-height: 3.4rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
  padding: 2rem 0 0 0;
  a {
    color: #333;
  }
}

.card-content {
  padding: 3rem 0 0 0;
}
.indicator {
  height: 0.3rem;
  width: 3rem;
  .ecology {
    background: linear-gradient(to right,#f04576 0%,#f04576 50%,#d96e28 50.1%,#d96e28 100%);
  }
}


.card-footer {
  border: none;
  position: absolute;
  left: 0;
  bottom: 2rem;
  margin-left: 1rem;
}

.news-teasers_tags {
  a {
    color: #999;
    text-transform: uppercase;
    margin: 0;
    font-size: 1rem;
    line-height: 1.4rem;
    font-family: 'Bebas Neue', cursive;
  }
}

div.news-teaser-list {
  height: 20rem;
}

