.news-teasers {
  padding: 5rem !important;
  .page-header {
    padding: 5rem 5rem 5rem;
    h1 {
      font-size: 4.5rem;
      text-align: center;
      margin: 0 0 5rem;
      line-height: 1;
      font-family: 'Bebas Neue', cursive;
    }
    form {
      .news-search {
        position: relative;
        align-items: center;
        text-align: center;
        input {
          border: 1px solid #fff;
          background: #fff;
          height: 3rem;
          margin-left: 2rem;
          line-height: 3rem;
          font-size: 1.6rem;
          vertical-align: bottom
        }
        input:focus{
          outline: 2px solid #f17b2d;
        }
        button {
          right: 0;
          top: 0;
          width: 3rem;
          background: #f17b2d;
          border: none;
          height: 3rem;
          padding: 1.5rem;
          cursor: pointer;
          transition: background .25s ease;
          svg {
            width: 32px;
            margin: -10px 0 0 -10px;
          }
        }
        button:focus{
          outline: 0 !important;
        }
      }
    }
  }
}

.teaser-item-list {
  transform: translateY(0);
  opacity: 1;
  animation: none;
  padding: 1rem;
  .card {
    padding: 1rem;
    height: 20rem;
    .card-header {
      box-shadow: none;
    }
  }
}

.card-header-title {
  font-size: 2.0rem;
  line-height: 2.4rem;
  font-family: 'Bebas Neue', cursive;
  font-weight: 100;
  padding: 2rem 0 0 0;
  a {
    color: #333;
  }
}

.card-content {
  padding: 3rem 0 0 0;
}
.indicator {
  height: 0.3rem;
  width: 3rem;
}


.card-footer {
  border: none;
  position: absolute;
  left: 0;
  bottom: 2rem;
  margin-left: 1rem;
}

.news-teasers_tags {
  a {
    color: #999;
    text-transform: uppercase;
    margin: 0;
    font-size: 1rem;
    line-height: 1.4rem;
    font-family: 'Bebas Neue', cursive;
  }
}

div.news-teaser-list {
  height: 20rem;
}

div.news-article-content {
  max-width: 50rem !important;
  padding: 8rem 6rem;
  .article-text {
    margin: 0 0 3rem;
    position: relative;
    .article-cat {
      font-size: 1.5rem;
      line-height: 2.4rem;
      font-family: 'Bebas Neue', cursive;
    }
    h1 {
      font-size: 5.2rem;
      line-height: 6.6rem;
      font-family: 'Bebas Neue', cursive;
    }
    .date-published {
      font-size: 1.5rem;
      font-family: 'Bebas Neue', cursive;
      margin-top: -20px;
    }
  }
  .article-body {
    div {
      margin: 0 0 2rem;
    }
    .description {
      p {
        font-size: 1.2rem;
        line-height: 2.6rem;
      }
    }
  }
}

.article-clearfix.columns {
  height: 5rem;
  p {
    color: black;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
  }
}

.news-article-share {
  h2 {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.4rem;
    margin: 0 1rem 0 0;
    font-family: 'Bebas Neue', cursive;
  }
  ul.share-buttons {
    text-align: center;
    li {
      display: inline-block;
      margin: 0 .6rem 0 0;
       a {
         svg {
           height: 2rem;
           widht: 2rem;
         }
       }
    }
  }
}

.hero-header {
  padding: 2rem 2rem 2rem 2rem;
  h1 {
    font-size: 3.5rem;
    text-align: center;
    margin: 0 0 5rem;
    line-height: 1;
    font-family: 'Bebas Neue', cursive;
  }
}

.hero-body {
  padding: 5rem 1.5rem;
}

@media (max-width: 1024px) {
  .card-header-title {
    font-size: 1.7rem;
  }
}
